<%- include('_head') %>

<body id='news-feed'>

  <header>
    <div class='items'>
      <a href='/news-feed'><img id='f-logo' src='images/f.png' alt='facebook logo'></a>
      <a id='log-out-link' href='/log-out'>Log Out</a>
      <div class='pipe'></div>
      <a class='news-feed-link' href='/news-feed'>Home</a>
      <div class='pipe'></div>
      <a class='user-link'>
        <img class='thumbnail' src='<%= user.profilePictureUrl %>' alt='profile picture'>
        <div class='name'>
          <%= user.firstName %>
        </div>
      </a>
    </div>
  </header>

  <main>
    <div class='items'>
    <%- include('_left') %>
    <%- include('_middle') %>
    <%- include('_right') %>
    </div>
  </main>

</body>
  